/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  nav {
    flex:1;
    float: left;
    width: 20%;
    background-color: #ddd;
    height: 100vh;
  }

  main {
    flex:2;
    float: right;
    width: 80%;
    background-color: white;
    height: 100vh;
  }
  
  section {
    margin-bottom: 20px;
    padding-left:10px;
  }
  .section1 {
    margin-bottom: 20px;
    background-color: red;
  }
  
  footer {
    clear: both;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
  }
  
  /* Ajoutez vos styles supplémentaires ici si nécessaire */
  